<h1>Stupid Coaching</h1>
<div class="user">
<p><%= @question %></p>
<p id="italian">- You</p>
</div>
<div class="coach">
<p><%= @response %></p>
<p id="italian">- Your coach</p>
</div>


<%= link_to "Ask another question", ask_path %>


